body{
	background-color: #f8f8f8;
	color: #242450;
}
h1{
	color: #141440;
	font-size: 2em;
}
table, td{
	border: solid 1px;
	border-spacing: 0px;
}
td{
	padding: 0px;
	text-align: center;
}
td *{
	vertical-align: middle;
	margin:1px;
}
#principal{
	border: 1px #242450 solid;
	border-top: none;
	border-bottom: none;
	padding: 10px;
	background-color: #efefef;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	position: absolute;
	left: 20%;
	width: 56%;
	min-width: 55%;
	z-index:1;
}
#principal p{
	text-align: justify;
	font-size: em;
}	
#principal a:hover{
	color: #efefef;
}
#principal *:hover{
	color: #545470;
}
#menu{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	background-color:#fedcba;
	border:1px solid;
	border-radius: 1px 20px;
	padding: 5px;
	
	position: fixed;
	top:15px;
	left: 15px;
}
#choix{
	display: flex;
	flex-direction: column;
	align-items:center;
	flex-wrap : nowrap;
	
	height: 95%;
	width: 18%;
	
	position: fixed;
	top: 2%;
	right: 1%;
	
	background-color: #efefef;
	border: 1px solid;
	border-radius: 10px 1px 1px 10px;
	margin: 5px;
	padding: 5px;
	overflow-y: auto;
	
	z-index:1;
	transition: opacity 0.1s;
}
.formPart{
	border: 2px solid;
	padding: 5px;
	margin: 5px;
	
	text-align: center;
	align-items: center;
	width: 85%;
	
	background-color: #f8f8f8;
	border: 1px #242450 solid;
	border-left: none;
	border-right: none;
}
#choix  div:hover{
	background-color:#d0c0f0 ;
}
.formPart *.titre {
	padding: 0px;
	margin:1px;
	font-size: 1.1em;
	font-weight:bold;
}
.formPart img{
	float:right;
	padding: 3px;
	border:none;
	background-color:#efefef;
	margin-top:2px;
}
.formPart img:hover{
	float:right;
	padding: 2px;
	border:1px #242450 solid;
}
.template{
	display:none;
}
.cache{
	display:none;
}
.montre{
	display: initial;
}
#menu a, #menu a:visited{
	border:1px solid;
	padding: 5px;
	margin: 5px;
	color: #242450;
}
#menu a:hover{
	color: #fedcba;
}
#info{
	position: absolute;
	bottom:100%;
	margin: 0 auto;
	width:95%;
	
	border: 1px solid;
	
	opacity:0;
	z-index: -1;
	transition: bottom 0.5s,opacity 0.5s;
	background-color: #d0c0f0;
}
#info p{
	text-align:center;
	font-size: 4em;
}
}
/*Quelques tags nécessaires*/{
em{
	font-style: italic;
}
strong{
	font-style: oblique;
	font-weight: bold;
}
mark{
	background-color:#fedcba;
	color:#123456;
}
a{
	color: #202060;
}
}